.portfolio-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.portfolio-content{
    position: relative;
    object-fit: cover;
    overflow: hidden;
    font-size: 14px;
    transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0.45s;
}
.portfolio-description{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 290px;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    z-index: 8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.portfolio-title{
    margin: 0 5px 0 0;
    color: var(--cyan);
}
.py:hover img{
    transform: scale(1.2);
}
.py:hover > .portfolio-description{
    opacity: 1;
    top: 0;
    color: #fff;
}
.project{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all 1s;
    filter: grayscale(1);
}
.portfolio-buttons{
    display: flex;
    justify-content: center;
}
.btn-plink{
    background: #191919;
    color: #f5f5f5;
    padding: 6px 10px;
    text-decoration: none;
}
.btn-plink:hover{
    color: var(--cyan);
}
.ml-15{
    margin-left: 15px;
}
@media(max-width:900px){
    .portfolio-container{
        gap: 10px;
    }
}
@media(max-width:800px){
    .portfolio-container{
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width:535px){
    .portfolio-container{
        grid-template-columns: 1fr;
    }
}